.OurContainer {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
   
  
}
@media(max-width: 1024px){
   .OurContainer{ height: 500px;}
}
@media(max-width: 891px){
    .OurContainer{ height: 500px;}
}
@media(max-width: 426px){
    .OurContainer{ height: 400px;}
}

.InnerContainer{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    background: url("../../assets/images/cards/01.png") no-repeat top center / 100% 100%;
   
}
@media(max-width: 1024px){
    .InnerContainer{height: 500px;}
}
@media(max-width: 891px){
    .InnerContainer{height: 500px;}
}
@media(max-width: 426px){
    .InnerContainer{height: 400px;}
}
.SubInner{

    height: 700px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
@media(max-width: 1024px){
    .SubInner{  height: 500px;
    padding: 0 5rem;}
}
@media(max-width: 891px){
    .SubInner{  height: 500px;}
}
@media(max-width: 426px){
    .SubInner{  height: 400px;
    padding: 0 1rem;}
}
.GrossTitle  {
    width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-family: Nunito;
font-weight: 700;
font-size: 3.5rem;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}
@media(max-width: 1024px){
    .GrossTitle {font-size: 2.8rem;}
}
@media(max-width: 805px){
    .GrossTitle { font-size: 2.3rem;}
}
@media(max-width: 768px){
    .GrossTitle {font-size: 2rem;}
}
@media(max-width: 525px){
    .GrossTitle {font-size: 1.8rem;}
}






.GrossDesc{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Nunito;
    font-weight: 400;
    font-size: 1.2rem;
    color: #FFFFFF;
  
}
@media(max-width: 805px){
    .GrossDesc{ font-size: 1rem;}
}
@media(max-width: 525px){
   .GrossDesc{ font-size: 0.9rem;}
} 
.ButtonBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
 
}
@media(max-width: 1024px){
  .ButtonBox{  margin-top: 3rem;}
}
.TrialButton{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Nunito;
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #0294B3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    padding: 1.1rem 1.8rem;
   
}
@media(max-width: 805px){
    .TrialButton{ padding: 0.9rem 1.5rem;}
}
@media(max-width: 525px){
    .TrialButton{font-size: 0.6rem;
    padding: 0.7rem 1.2rem;}
}



